{% load staticfiles %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="noindex, nofollow">
<script src="{% static 'js/jquery-2.1.3.min.js' %}"></script>

<link rel="stylesheet" href="{% static 'bootstrap-3.3.6-dist/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'bootstrap-3.3.6-dist/css/bootstrap-theme.min.css' %}">

<!-- Latest compiled and minified JavaScript -->
<script src="{% static 'bootstrap-3.3.6-dist/js/bootstrap.min.js' %}"></script>
