<!DOCTYPE html>
<html lang="de">
    <head>
        {% load staticfiles %}
        {% include "head_defaults.html" %}
        <title>Association Administration</title>
        <style>
            .btn-block+.btn-block {
                margin-top: 23px;
            }
        </style>
    </head>
    <body>
        <div class="page-header">
            <h1>Administration Association</h1>
        </div>

        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <a class="btn btn-primary btn-lg btn-block" href="{% url 'members.views.add_member' %}">ADD Members</a>
                <a class="btn btn-primary btn-lg btn-block" href="{% url 'members.views.index' %}">Member Interaction</a>
                <a class="btn btn-primary btn-lg btn-block" href="{% url 'erfaabgleich' %}">Erfa Abgleich</a>
                <a class="btn btn-primary btn-lg btn-block" href="/import_app/import_banking_csv">Import Banking</a>
                <a class="btn btn-primary btn-lg btn-block" href="/admin">DB-Admin</a>
                {% if hasDatenschleuder %}
                    <a class="btn btn-primary btn-lg btn-block" href="/admin/datenschleuder">Datenschleuder</a>
                {% endif %}
            </div>
            <div class="col-md-4"></div>
        </div>
    </body>
</html>