@page {
    size: A4;
    margin: 30mm 45mm 30mm 45mm;
}

.postalWindow {
    size: 21cm 29.7cm;
    margin-top: 50mm;
    margin-bottom: 10mm;
    margin-left: 20mm;
    background-color: yellow;
}

.footer {
    page-break-after: always;
}
