<!DOCTYPE html>
<html lang="en">
    <head>
        {% load staticfiles %}
        {% include "head_defaults.html" %}
        <title>ADD Members</title>
        <style type="text/css">
            label {
                font-weight: normal;
            }

            label.required {
                font-weight: bold;
            }

            input[type=text], input[type=email] {
                width: 100%;
            }

            .form-inline {
                margin-top: 6px;
                margin-bottom: 6px;
            }

            .save {
                width: 100%;
            }
        </style>
    </head>
    <body>
    {% block content %}
    {% if new_chaos_number > 0 %}
        <div class="alert alert-success" role="alert">
            Member <a href="/admin/members/member/{{ new_chaos_number }}/" class="alert-link" target="_blank">{{ new_chaos_number }}</a> was created
        </div>
    {% endif %}
    {% if member_form.errors or email_formset.errors %}
        <div class="alert alert-danger" role="alert">
            Member could not be created due to validaton errors
        </div>
    {% endif %}
        <h1>New Member</h1>

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form method="POST" class="post-form" >{% csrf_token %}
                    {% for field in member_form %}
                    <div class="form-inline row">
                        <div class="col-md-2 form-group {{ field.css_classes }}">
                            {{ field.label_tag }}
                        </div>
                        <div class="col-md-8">
                            {{ field }}
                            {% for error in field.errors %}
                                {{ error|escape }}
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}

                    {{ email_formset.management_form }}

                    {% for email_form in email_formset %}
                    {% for field in email_form.hidden_fields %}{{ field }}{% endfor %}
                    <div class="email-formset">
                        {% for field in email_form.visible_fields %}
                        <div class="form-inline row">
                            <div class="col-md-2 form-group {{ field.css_classes }}">
                                {{ field.label_tag }}
                            </div>
                            <div class="col-md-8">
                                {{ field }}
                                {% for error in field.errors %}
                                    {{ error|escape }}
                                {% endfor %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}

                    {% for error in email_formset.non_form_errors %}
                        {{ error|escape }}
                    {% endfor %}


                    <div class="row">
                        <div class="col-md-10">
                            <button type="submit" class="save btn btn-primary">Save</button>
                        </div>
                    </div>

                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    {% endblock %}

        <script src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
        <script src="{% static 'js/jquery.formset.js' %}"></script>
        <script>
            $('.email-formset').formset({
                addText: 'add Email',
                deleteText: 'remove',
                prefix: 'emailaddress_set'
            });
        </script>
    </body>
</html>
