statistics.html{% load staticfiles %}
<html>
{% include "head_defaults.html" %}

<body>
  {% include 'navbar.html' %}

  <div id="mainContainer" class="container-fluid"  style="margin-top:60px">
      <form action="{% url 'api_bulk_address_unknown' %}" method="post">
    {% csrf_token %}
      <input type="submit">
  <textarea name="chaos_numbers"></textarea>
  </form>
</div>
</body>
</html>
