<!DOCTYPE html>
<html lang="de">
    <head>
        {% load staticfiles %}
        {% include "head_defaults.html" %}
        <title>Association Administration</title>
        <style>
            .btn-block+.btn-block {
                margin-top: 23px;
            }
        </style>
    </head>
    <body>
        <div class="page-header">
            <h1>Administration Association</h1>
        </div>

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <a class="btn btn-primary btn-lg btn-block" href="{% url 'erfaabgleich_export' %}">Erfa Abgleich Export für Erfas mit Doppelmitgliedschaft</a>
                <a class="btn btn-primary btn-lg btn-block" href="{% url 'erfaabgleich_import' %}">Erfa Abgleich Import für Erfas mit Doppelmitgliedschaft</a>
                <a class="btn btn-primary btn-lg btn-block" href="{% url 'erfaabgleich_export' 'all' %}">Erfa Abgleich Export für alle Erfas</a>
                <a class="btn btn-primary btn-lg btn-block" href="{% url 'erfaabgleich_import' 'all' %}">Erfa Abgleich Import für alle Erfas</a>
                <a class="btn btn-primary btn-lg btn-block" href="{% url 'cashpoint_export' %}">Cash Point Export</a>
                <a class="btn btn-primary btn-lg btn-block" href="{% url 'vereinstisch_import' %}">Vereinstisch Import</a>
            </div>
            <div class="col-md-2"></div>
        </div>
    </body>
</html>
