{% extends "base.html" %}
{% block content %}
<h1>Transaction Manager</h1>
        {{ showme }}
        {% if message %}
           <p class="alert alert-info">
               {{ message }}
           </p>
        {% endif %}
        <!-- Upload form. Note enctype attribute! -->
        <!-- Todo: In the long run: I want to have a list of transactions ordered by rating, and the ability
        to execute through rating X. The printed chaos number and verwendungszweck, the ability to a) directly enter a
        chaos number or to click on one of the options - followed by a prompt to set score to '-1' and status to
        pending? (preferably as prefilled fields, that user can then change). I want to be able to directly execute
        one transaction. Cancel/Reject a transaction. -->
        This will be a form, where transactions can be selected based on score/flag
        {% for transaction in transactions %}
            <p>{{ transaction.chaos_number }}: {{ transaction.status }}</p>
        {% endfor %}
{% endblock %}
