{% extends "base.html" %}
{% block content %}
    <div class="container">
    <form method="post" action="{% url 'manage_transactions_book' %}">
        {% csrf_token %}
        {{ formset.management_form }}


            <h2>Transactions CONFIRM</h2>

<button type="submit" class="btn btn-danger pull-right">Book transactions</button>
        <button type="button" class="btn btn-primary pull-right" onclick="window.location='{% url 'import_banking' %}'" >Cancel</button>
            <table class="table">
                <thead>
                <tr>
                    <th>ChaosNr</th>
                    <th>Status</th>
                    <th>Rating</th>
                    <th>Info</th>
                </tr>
                </thead>
                <tbody>

                {% for form in formset %}
                    {% if form.instance.status in status_matching %}
                    <tr>

                        <td> {{ form.instance.chaos_number }}</td>
                        <td> {{ form.instance.status }}</td>
                        <td> {{ form.instance.rating }}</td>
                        <td> {{ form.instance.information }}</td>

                    </tr>
                    {% endif %}
{% for hidden in form.hidden_fields %}
    {{ hidden }}
{% endfor %}
                {% endfor %}

                </tbody>
            </table>



    </form>
    </div>
{% endblock %}